.MostRental-card{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: rgb(238, 238, 238);
    max-width: 1300px;
    margin: auto;
}
.MostRental-card h2{
  font-size: 2.375rem;
}
.MostRental-card h3{
    font-size: 1.625rem;
    color: gray;
}
.MostRental-card h4{
    font-size: 1.625rem;
}
.MostRental-container h1{
    text-align: center;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -1.1px;
}
.MostRental-container p{
    text-align: center;
  font-size: 1.375rem;
    line-height: 1.75rem;
    margin: 0.75rem 0 2.75rem 0;
    color: rgb(168, 168, 168);
}