.nav-lastBtn{
    background-color: rgb(129, 129, 125);
    border-radius: 0px;
    
}
.nav-lastBtn:hover{
    background-color: rgb(129, 129, 125);

}
.nav-signBtn:hover{
   background-color: white;

}