.rent-cards {
  padding: 40px 0px;
}
.rent-cards h1 {
  font-size: 40px;
  line-height: 1.625rem;
  letter-spacing: -0.6px;
  margin: 1.625rem 0 1.0625rem 0;
  text-align: center;
  margin-bottom: 40px;
}

.rents-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.rent-apartment {
  border: 1px solid rgb(177, 176, 174);
  text-align: center;
}
.rent-apartment-text {
  padding: 10px;
}
.recent-button{
  padding: 25px 0px;
}
.recent-button button{
 color: white;
 background-color: rgb(51, 172, 72);
 height: 3rem;
 padding: 0px 30px;
 font-weight: bold;
 border-radius: 3px;
   display: block;
  margin: auto;
}